In [1]:
import pandas as pd

df = pd.read_csv("ENB2012_data.csv")
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [2]:
df['X9'] = (df['X3']/4)/df['X5']

df['X10'] = 2 * (df['X5'] + df['X9'])

Specifically:
X1 Relative Compactness
X2 Surface Area
X3 Wall Area
X4 Roof Area
X5 Overall Height
X6 Orientation
X7 Glazing Area
X8 Glazing Area Distribution
y1 Heating Load
y2 Cooling Load

In [17]:
df.head(40)

      X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2      X9    X10
0   0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33  10.500  35.00
1   0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33  10.500  35.00
2   0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33  10.500  35.00
3   0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33  10.500  35.00
4   0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28  11.375  36.75
5   0.90  563.5  318.5  122.50  7.0   3  0.0   0  21.46  25.38  11.375  36.75
6   0.90  563.5  318.5  122.50  7.0   4  0.0   0  20.71  25.16  11.375  36.75
7   0.90  563.5  318.5  122.50  7.0   5  0.0   0  19.68  29.60  11.375  36.75
8   0.86  588.0  294.0  147.00  7.0   2  0.0   0  19.50  27.30  10.500  35.00
9   0.86  588.0  294.0  147.00  7.0   3  0.0   0  19.95  21.97  10.500  35.00
10  0.86  588.0  294.0  147.00  7.0   4  0.0   0  19.34  23.49  10.500  35.00
11  0.86  588.0  294.0  147.00  7.0   5  0.0   0  18.31  27.87  10.500  35.00
12  0.82  612.5  318.5  147.00  7.0   2  0.0   0  17.05  23.77  11.375  36.75
13  0.82  612.5  318.5  147.00  7.0   3  0.0   0  17.41  21.46  11.375  36.75
14  0.82  612.5  318.5  147.00  7.0   4  0.0   0  16.95  21.16  11.375  36.75
15  0.82  612.5  318.5  147.00  7.0   5  0.0   0  15.98  24.93  11.375  36.75
16  0.79  637.0  343.0  147.00  7.0   2  0.0   0  28.52  37.73  12.250  38.50
17  0.79  637.0  343.0  147.00  7.0   3  0.0   0  29.90  31.27  12.250  38.50
18  0.79  637.0  343.0  147.00  7.0   4  0.0   0  29.63  30.93  12.250  38.50
19  0.79  637.0  343.0  147.00  7.0   5  0.0   0  28.75  39.44  12.250  38.50
20  0.76  661.5  416.5  122.50  7.0   2  0.0   0  24.77  29.79  14.875  43.75
21  0.76  661.5  416.5  122.50  7.0   3  0.0   0  23.93  29.68  14.875  43.75
22  0.76  661.5  416.5  122.50  7.0   4  0.0   0  24.77  29.79  14.875  43.75
23  0.76  661.5  416.5  122.50  7.0   5  0.0   0  23.93  29.40  14.875  43.75
24  0.74  686.0  245.0  220.50  3.5   2  0.0   0   6.07  10.90  17.500  42.00
25  0.74  686.0  245.0  220.50  3.5   3  0.0   0   6.05  11.19  17.500  42.00
26  0.74  686.0  245.0  220.50  3.5   4  0.0   0   6.01  10.94  17.500  42.00
27  0.74  686.0  245.0  220.50  3.5   5  0.0   0   6.04  11.17  17.500  42.00
28  0.71  710.5  269.5  220.50  3.5   2  0.0   0   6.37  11.27  19.250  45.50
29  0.71  710.5  269.5  220.50  3.5   3  0.0   0   6.40  11.72  19.250  45.50
30  0.71  710.5  269.5  220.50  3.5   4  0.0   0   6.37  11.29  19.250  45.50
31  0.71  710.5  269.5  220.50  3.5   5  0.0   0   6.40  11.67  19.250  45.50
32  0.69  735.0  294.0  220.50  3.5   2  0.0   0   6.85  11.74  21.000  49.00
33  0.69  735.0  294.0  220.50  3.5   3  0.0   0   6.79  12.05  21.000  49.00
34  0.69  735.0  294.0  220.50  3.5   4  0.0   0   6.77  11.73  21.000  49.00
35  0.69  735.0  294.0  220.50  3.5   5  0.0   0   6.81  11.93  21.000  49.00
36  0.66  759.5  318.5  220.50  3.5   2  0.0   0   7.18  12.40  22.750  52.50
37  0.66  759.5  318.5  220.50  3.5   3  0.0   0   7.10  12.23  22.750  52.50
38  0.66  759.5  318.5  220.50  3.5   4  0.0   0   7.10  12.40  22.750  52.50
39  0.66  759.5  318.5  220.50  3.5   5  0.0   0   7.10  12.14  22.750  52.50

In [18]:
df['X6'].unique()

array([2, 3, 4, 5], dtype=int64)

In [19]:
#  Correlation matrix
correlation_matrix = df.corr()

# Correlation with the target variable
target_correlation = correlation_matrix['Y1']

# Print correlations
print(target_correlation)#

X1     0.622272
X2    -0.658120
X3     0.455671
X4    -0.861828
X5     0.889431
X6    -0.002587
X7     0.269841
X8     0.087368
Y1     1.000000
Y2     0.975862
X9    -0.730433
X10   -0.619168
Name: Y1, dtype: float64

In [20]:
#  Correlation matrix
correlation_matrix = df.corr()

# Correlation with the target variable
target_correlation = correlation_matrix['Y2']

# Print correlations
print(target_correlation)#

X1     0.634339
X2    -0.672999
X3     0.427117
X4    -0.862547
X5     0.895785
X6     0.014290
X7     0.207505
X8     0.050525
Y1     0.975862
Y2     1.000000
X9    -0.749008
X10   -0.641953
Name: Y2, dtype: float64

In [21]:
X = df.drop(columns=['Y1','Y2'])
y1 = df['Y1']
y2 = df['Y2']

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y1, test_size = 0.2, random_state = 42)

In [23]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import root_mean_squared_error


clf1 = RandomForestRegressor().fit(X_train, y_train)
y_pred = clf1.predict(X_test)

root_mean_squared_error(y_test, y_pred)

0.4882920246774822

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y2, test_size = 0.2, random_state = 42)

In [25]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error


clf2 = RandomForestRegressor().fit(X_train, y_train)
y_pred = clf2.predict(X_test)

root_mean_squared_error(y_test, y_pred)

1.7682406576161396

In [28]:
import warnings
warnings.filterwarnings("ignore")

inp = [[0.82 , 612.50 , 318.50 , 147.00 , 3.50 ,  4 , 0.00 ,  0 , 11.375, 36.75]]

pred_heat_load = clf1.predict(inp)

print(pred_heat_load[0])

15.745100000000019

In [29]:
import warnings
warnings.filterwarnings("ignore")

inp = [[0.82 , 612.50 , 318.50 , 147.00 , 3.50 ,  4 , 0.00 ,  0 , 11.375, 36.75]]

pred_cool_load = clf2.predict(inp)

print(pred_cool_load[0])

17.942200000000028